@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Cairo" ;
  src: url("@/assets/fonts/cairo/static/Cairo-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Thin.ttf') ;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-ExtraLight.ttf') ;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Light.ttf') ;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Regular.ttf') ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Medium.ttf') ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-SemiBold.ttf') ;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Bold.ttf') ;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-ExtraBold.ttf') ;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('@/assets/fonts/lexend/static/Lexend-Black.ttf') ;
  font-weight: 900;
  font-style: normal;
}

