@use "tailwindcss/base.css";
@use "tailwindcss/components.css";
@use "tailwindcss/utilities.css";
@use "primevue";
@use "variables";
@use "fonts";
@use "mainTable";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  transition:
          color 0.5s,
          background-color 0.5s;
  font-family: Lexend, Cairo, sans-serif !important;
  background-color: rgba(var(--dashboardBg));
}

:root {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 300px) {
  :root {
    font-size: 12px !important;
  }
}

@media (min-width: 769px) and (max-width: 1536px) {
  :root {
    font-size: 14px !important;
  }
}

@media (min-width: 1537px) {
  :root {
    font-size: 16px !important;
  }
}

body .scrollbar-track.scrollbar-track-y {
  background-color: theme('colors.black / 10%');
}

body .scrollbar-track.scrollbar-track-y .scrollbar-thumb.scrollbar-thumb-y {
  background-color: theme('colors.primary.700 / 50%');
}




.headlessui-menu-body {
  --box-shadow-val: 0px 0px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: var(--box-shadow-val);
  -webkit-box-shadow: var(--box-shadow-val);
  -o-box-shadow: var(--box-shadow-val);
  box-shadow: var(--box-shadow-val);
  @apply absolute z-10 bg-white rounded-[0.475rem] top-[90%] end-4 w-[150px] py-4
}

.headlessui-menu-body-mode {
  @apply w-fit
}

.table-headlessui-menu-body {
  @apply top-[190%] md:top-[140%] start-[-50%] md:start-[revert] md:end-1
}

.headlessui-menu-item {
  transition: color 0.2s ease;
  @apply px-6 py-[0.65rem] text-base text-neutral-500 text-nowrap
}

.headlessui-menu-item::-webkit-scrollbar {
  display: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
